<address>
  <h4>{{name}} | {{contact}}</h4>
</address>
<div>
  <h4>
    <a href="http://www.linkedin.com/in/lakshmibalasubram"> Linkedin || </a>
    <a href="https://github.com/balasulr"> GitHub </a> <br>
  </h4>
</div>
<hr>

<!-- Technologies listed is in app.components.ts -->
<div>
  <h3>Technology:</h3>
  <table class="table table-sm table-hover">
    <tr *ngFor="let tech of technologies">
      <td>{{tech.a}}</td>
      <td>{{tech.b}}</td>
      <td>{{tech.c}}</td>
      <td>{{tech.d}}</td>
    </tr>
  </table>
</div>
<hr>

<!-- Education has own component-->
<app-education></app-education>
<hr>

<!-- Work History has own component-->
<app-workhistory></app-workhistory>
<hr>